.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3{
    font-family: 'Rowdies', cursive;
}

.btn-reg{
    background-color: #f05f44;
    border-color: #f05f44;
}

.form-group {
    padding-top: 1rem;
}

.form-control:focus{
 border-color: lightgreen;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(73, 186, 28);
}